SECRET_KEY='your-super-secret-key-here'
DEBUG=True

OAUTH_GOOGLE_CLIENT_ID=your-google-client-id
OAUTH_GOOGLE_SECRET=your-google-client-secret

EMAIL_BACKEND=your.email.backend
EMAIL_HOST=your-host
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your-email@domain.com
EMAIL_HOST_PASSWORD=your-email-password